header {
    /* border: 1px solid grey; */
    position: fixed;
    background-color: white;
    top: 0;
    right: 0;
    left: 0;
}
main {
    margin-top: 80px;
}

.content {
    width: 95%;
}

h1 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 1rem;
    text-align: center;
    color: blue;
}

h2 {font-size: 16px;
    font-weight: bold;
    margin-top: 1rem;
    text-align: left;
    color: black;
}

form {
    margin: 2rem 0;
}

.mission {
    width: 95%;
}

.mission-goals ol {
    padding-left: 5%;
}

.fields-of-study ul {
    list-style: none;
    padding: 0;
    margin: 0;
    }

.fields-of-study li:before {
    content: "\2022";
    font-size: large;
    vertical-align: middle;
    color: rgb(21, 163, 21);
  }
