header {
    position: fixed;
    background-color: white;
    top: 0;
    right: 0;
    left: 0;
}
main {
    margin-top: 80px;
}

.content {
    width: 95%;
}
h1 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 1rem;
    text-align: left;
    color: blue;
}

h2 {font-size: 16px;
    font-weight: bold;
    margin-top: 1rem;
    text-align: left;
    color: black;
}

.nano-image {
    background-image: url("/images/nano1024-e1400502699196.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    padding: 10px;
    height: 150px;
}

.nano-image h1, .nano-image h2 {
    color: #fff;
    text-shadow: 2px 2px black;

}

.info-acquired-use {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 0.7rem;
    }


li {
    list-style-type: none;
}    
.engaged-in li:before, .fields-of-study li:before {
    content: "\2022";
    font-size: large;
    vertical-align: middle;
    margin-left: -0.5em;
    color: rgb(21, 163, 21);
}

.mission {
    width: 95%;
}

.mission-goals ol {
    padding-left: 5%;
}
