h1 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 3rem;
    text-align: center;
    color: blue;
}

h2 {font-size: 14px;
    /* font-style: italic; */
    font-weight: normal;
    /* font-weight: lighter !important; */
    margin-top: 0rem;
    text-align: center;
    color: black;
}
p {
    font-size: 12px;
}    

.news-item {
    margin: auto;
    padding: 10px;
}

input[type="text"] {
    display: block;
    border: 1px solid black;
    margin-bottom: 15px;
    width: 100%;
}

label {
    display:block;
    font-weight: bold;
}
textarea {
    display:block;
    border: 1px solid black;
    margin-bottom: 15px;
    width: 100%;
}

.remove-newsitem-button {
    float: right;
    font-size: 14px;
    margin-top: -2rem;
    margin-right: -0rem;
}

.edit-newsitem-button{
  float: right;
  font-size: 14px;
  margin-top: -.5rem;
  margin-right: .25rem;
}

@media only screen and (min-width: 720px) {
    form {
        width: 50%;
        margin: auto
    }
    
}

@media only screen and (max-width: 425px) {
    
    
    nav {
      
      font-size: 12px;
      
    }
    
}