
header {
    /* border: 1px solid grey; */
    position: fixed;
    background-color: white;
    top: 0;
    right: 0;
    left: 0;
}
main {
    margin-top: 80px;
    
}

body {
    min-height: 100%
}

h1 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
}

h2 {font-size: 16px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
    text-shadow: 2px 2px blue;
}

.brand {
    padding: 0px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    color: blue;
    font-style: italic;
    font-size: 14px;
    font-weight: normal;
}

.events, .news, .videos {
    position: relative;
    display: block;
}


.event-news-image {
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-position-x: center;
    padding: 10px;
   /* color: #fff; */
    margin-top: 2rem; 
    overflow: hidden;
}

.event-news-image img {
    width: 100%;
    height: auto;
    display: block;
}

.embedded-video {
    align-self: center;
    height: auto ! important;
    margin-top: 2rem;
    padding: 10px;
    width: 100%;
}

.featured-label {
    position: absolute;
    /* top: -4px;
    left: -4px; */
    z-index: 10;
    border: 0 none;
    color: white;
    background-color: #5daee1;
    /* display: inline-block; */
    padding: 0.35em 0.5em;
    font-family: "ff-dagny-web-pro",Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-weight: 700;
    font-size: 1.143em;
    margin-bottom: 0.25em;
}

.event-news-video-text {
    /* float: left; */
    width: 95%;
    margin: auto;
}


.clear-float {
    clear: both;
}

.content .events, .content .news, .content .videos {
    float: left;
    width: 33.3%;
}

@media only screen and (max-width: 425px) {
    .content .events, .content .news, .content .videos {
        float: none; 
        width: 100%;
    }
    .featured-label {
        top: -4px;
        left: -4px;
    
    }

} 