
header {
    /* border: 1px solid grey; */
    position: fixed;
    background-color: white;
    top: 0;
    right: 0;
    left: 0;
}
main {
    margin-top: 80px;
    
}

body {
    min-height: 100%
}

h1 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: left;
}

h2 {font-size: 16px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
    text-shadow: 2px 2px blue;
}

.tagline {
    padding: 0px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 40px;
    color: #032198;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 16px;
    font-weight: bold;
}

.events, .news, .videos {
    position: relative;
    display: block;
}


.event-news-image {
    background-repeat: no-repeat;
    background-position-x: center;
    padding: 10px;
    margin-top: 2rem; 
    overflow: hidden;
}

.event-news-image img {
    width: 100%;
    height: auto;
    display: block;
}

.featured-label {
    position: absolute;
    top: -18px;
    left: -3px;
    z-index: 10;
    border: 0 none;
    color: white;
    text-shadow: black 2px 2px;
    background-color: #5daee1;
    padding: 0.35em 0.5em;
    font-family: "ff-dagny-web-pro",Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-weight: 700;
    font-size: 1.143em;
    margin-bottom: 0.25em;
}

.event-news-video-text, .event-news-image, .embedded-video {
    width: 95%;
    margin: auto;
    padding-bottom: 10px;
}

.details {
    font-size: 14px;    
}

.event-news-image, iframe {
    padding:1px;
    border:1px solid #021a40;
}


.content .events, .content .news, .content .videos {
    float: none; 
    width: 100%;
}



@media only screen and (min-width: 576px) {
    .content .events, .content .news, .content .videos {
        float: left;
        width: 33.3%;
    }

    .event-news-video-text, .event-news-image, .embedded-video {
        width: 93%;
        margin: auto;
    }

    .featured-label {
        top: -18px;
        left: 3px;
    
    }

    .clear-float {
        clear: both;
    }

} 