
header {
    /* border: 1px solid grey; */
    position: fixed;
    background-color: white;
    top: 0;
    right: 0;
    left: 0;
}
main {
    margin-top: 80px;
    
}

body {
    min-height: 100%
}

h1 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 0px;
    text-align: left;
}

h2 {font-size: 16px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
    text-shadow: 2px 2px blue;
}

.featured-events {
    width: 95%;
    margin: auto;
}
.events {
    position: relative;
}

.event-image {
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-position-x: center;
    padding: 10px;
    color: #fff;
    height: 320px;
    overflow: hidden;
}

.event-image img {
    max-width: 100%;
    height: 100%;
}

.video {
    align-self: center;
    width: 95%  !important;
    height: auto ! important; 
}
.featured-label {
    position: absolute;
    top: -4px;
    left: -4px;
    z-index: 10;
    border: 0 none;
    color: white;
    background-color: #5daee1;
    /* display: inline-block; */
    padding: 0.35em 0.5em;
    font-family: "ff-dagny-web-pro",Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-weight: 700;
    font-size: 1.143em;
    margin-bottom: 0.25em;
}

.video {

}

/* .engaged-in ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 0.7rem;
    }

.engaged-in li:before {
    content: "\2022";
    font-size: large;
    vertical-align: middle;
    /* list-style-position: outside;
    margin-left: -0.5em;
    color: rgb(21, 163, 21);
  } */

@media only screen and (max-width: 425px) {
    .event-text, .event-image {
        float: left;
        display: in-line;
    }
}