header {
   position: fixed;
  background-color: white;
  top: 0;
  right: 0;
  left: 0;
}
main {
  margin-top: 80px;
}

.membership-period-header {
  color: #00A65E;
  font-size: 14px;
}

form {
  margin: 2rem 0;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  display: block;
  border: 1px solid black;
  width: 100%;
}

.form-header {
  margin-top: 3rem;
  color:#00A65E;
}

input {
  margin-bottom: 0.5rem;
}


.radio-member-type {
    margin-top: 3rem;
}

.radio-group {
    padding: 0;

}


.radio-group li {
  list-style: none;
}

.dropdown-menu {
  width: 100%;
  border: 1px solid;
  border-radius: 0;
}

.menu-other {
  width: 100%;
  margin: auto;
  margin-top: 0.5rem;
}

#other-input {
  float: right;
  width: 82%;
}

.fullname {
  margin-top: 3rem;
  width: 100%;
}

textarea {
  border: 1px solid black;
  width: 100%;
}

.page-buttons {
  text-align: center;
}

.membership-options {
  margin-top: 3rem;
}

@media only screen and (min-width: 720px) {
  form {
    width: 50%;
    margin: auto;
  }
}
