.content {
    font-weight: bold;
}
.membership-period-header {
    color: blue;
}

form {
    margin: 2rem 0;
}

form input[type="text"] {
    display: block;
    border: 1px solid black;
    width: 100%;
}

.radio-member-type p {
    margin-top: 3rem;
}

.member-type-other {
    width: 100%;
    margin: auto;
}

.member-type {
    font-weight: normal;
}

.member-type-other {
    margin: 0.5rem 0 0 0;
}

#other-member-input {
    float: right;
    width: 82%;
}

.fullname {
    margin-top: 3rem;
    width: 100%;
}


.address {
    font-weight: normal;
}
@media only screen and (min-width: 720px) {
    form {
        width: 50%;
        margin: auto
    }
    
}

@media only screen and (max-width: 425px) {
    
    
    nav {
      
      font-size: 12px;
      
    }
    
}