header {
     position: fixed;
    background-color: white;
    top: 0;
    right: 0;
    left: 0;
}
main {
    margin-top: 80px;
}

form {
    margin: 2rem 0;
}

form input[type="email"] {
    border: 1px solid black;
    width: 100%;
}

form input[type="password"] {
    border: 1px solid black;
    width: 100%;
}

input {
    margin-bottom: 0.5rem;
}

.login-credentials {
    overflow:hidden;
}

.new-password {
    float: right;
    color: #00A65E;
    margin-top: 0;
    font-size: 10px;
}

.terms, .not-yet-member {
    text-align: center;
    font-size: 10px;
}

.submit {
    display: block;
    text-align: center;
}

@media only screen and (min-width: 720px) {
    form {
        width: 50%;
        margin: auto;
    }
}
