h1 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 3rem;
    text-align: center;
    color: blue;
}

h2 {font-size: 14px;
    font-weight: bold;
    margin-top: 1rem;
    text-align: left;
    color: black;
}
p {
    font-size: 12px;
}    

.news-item {
    width: 95%;
    margin: 10px auto;
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid black ;
}

.remove-newsitem-button {
    float: right;
    font-size: 14px;
    margin-top: -2rem;
    margin-right: -0rem;
}

.edit-newsitem-button{
  float: right;
  font-size: 14px;
  margin-top: -.5rem;
  margin-right: .25rem;
}

@media only screen and (min-width: 720px) {
    form {
        width: 50%;
        margin: auto
    }
    
}

@media only screen and (max-width: 425px) {
    
    
    nav {
      
      font-size: 12px;
      
    }
    
}