h1 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    color: blue;
}

h2 {font-size: 16px;
    font-weight: bold;
    margin-top: 1rem;
    margin-right: 12px;
    text-align: left;
    color: black;
}
p {
    font-size: 12px;
}    

.news-item {
    position: relative;
    width: 95%;
    margin: 10px auto;
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid black ;
}

.delete-newsitem-button {
    font-size: 14px;
    position: absolute;
    top: 25px;
    right: 7px;
    color: blue;
}

.edit-newsitem-button {
    font-size: 14px;
    position: absolute;
    top: 3px;
    right: 1.2px;
    color: blue;
}

.add-newsitem-button {
    font-size: 14px;
    font-weight: light; 
    float: right;
    margin-right: 3%;
    margin-top: -27px;
    color: blue;
    position: relative;
}

.add-newsitem-button span {
    display: none;
    position: absolute;
    top: 0;
    right: 20px;
    width: 90px;
    text-align: right;
    font-size: 12px;
}

.add-newsitem-button:hover span {
    display: inline-block;
}

@media only screen and (min-width: 576px) {
    form {
        width: 50%;
        margin: auto
    }
}