h1 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    color:rgb(3, 145, 83);
}

h2 {font-size: 16px;
    font-weight: bold;
    margin-top: 1rem;
    text-align: left;
    color: black;
}

p {
    font-size: 12px;
}    

.member-info {
    width: 95%;
    margin: 10px auto;
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid black ;
}

.tight {
    margin-top: 0px;
    margin-bottom: 0px;
}


@media only screen and (min-width: 720px) {
    form {
        width: 50%;
        margin: auto
    }
    
}