h1 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 3rem;
    text-align: center;
    color: blue;
}

h2 {font-size: 16px;
    font-weight: bold;
    margin-top: 1rem;
    text-align: left;
    color: black;
}
p {
    font-size: 12px;
}    

.news-item {
    position: relative;
    width: 95%;
    margin: 10px auto;
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid black ;
}

.delete-newsitem-button {
    font-size: 14px;
    position: absolute;
    top: 20px;
    right: 7px;
    color: blue;
}

.edit-newsitem-button {
    font-size: 14px;
    position: absolute;
    top: 3px;
    right: 1.2px;
    color: blue;
}

.add-newsitem-button {
    position: absolute;
    font-size: 14px;
    top: 118px;
    right: 15px;
    color: blue;
}

@media only screen and (min-width: 720px) {
    form {
        width: 50%;
        margin: auto
    }
    
}

@media only screen and (max-width: 425px) {
    
    
    nav {
      
      font-size: 12px;
      
    }
    
}