header {
    position: fixed;
    background-color: white;
    top: 0;
    right: 0;
    left: 0;
}
main {
    margin-top: 80px;
    min-height: 98%;    
}

.content {
    width: 95%;
}
h1 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 1rem;
    text-align: left;
    color: blue;
}

h2 {font-size: 16px;
    font-weight: bold;
    margin-top: 1rem;
    text-align: left;
    color: black;
}

.info-acquired-use ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 0.7rem;
    margin-bottom: 0.7rem;
    }

.info-acquired-use li:before {
    content: "\2022";
    font-size: large;
    vertical-align: middle;
    margin-left: -0.5em;
    margin-bottom: 0.5rem;
    color: rgb(21, 163, 21);
}

.info-use li:before {
    content: "-";
    font-size: large;
    vertical-align: middle;
    margin-left: -0.5em;
    color: rgb(21, 163, 21);
}