* {
    box-sizing: border-box;
}

body {
    width: 100%;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

header {
    width: 100%;
}

nav {
    display: inline-block;
     text-align: center;
    padding-right: 0px;
    margin-right: 0px;
}

nav ul {
    width: 100%;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0 0.1rem;
}

nav a:hover {
    font-color: green;
  }

img.logo {
    height: 20%;
    max-height: 60px;
}

.content {
    padding: 10px;
        font-weight: normal;  
}

.asterisk {
    color: red;
    font-size: 1.5rem;
    font-weight: bold;
}